@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif!important;
}

.hero {
  height: 400px;
  background: rgb(2,0,36);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news {
  background-color: rgb(236, 236, 232);
  height: 400px;
}

.categories {
  background-color: rgb(255, 255, 255);
  height: 400px;
}

h3, h1 {
  color: #fff;
}