@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
} 


html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden!important; 
    font-family: 'Roboto', sans-serif!important;
    font-family: 'Poppins', sans-serif!important;
}

.navbar {
  font-family: 'Poppins', sans-serif!important;
  background-color: #fff!important;
}

.navbar a {
  color: #3292D9!important;
  text-align: center;
}

.navbar a:hover {
  color: #0e4269!important;
}

.navbar i {
  color: #3292D9!important;
}

.navbar-toggler {
  border: none!important;
  color: #3292D9;
}

.navbar-toggler:focus {
  text-decoration: none!important;
  outline: 0!important;
  box-shadow: 0 0 0 0.01rem !important;
}

/* Carousel overlay */
.drk:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:#000;
  opacity:0.5;
}


.logo {
  height: 35px;
}

.img {
  float: left;
  width:  100%;
  height: 230px;
}

.team-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

h1, h4, h5 {
  font-weight: 900;
}

h1 {
  font-size: 25px;
  color: #3292D9;
}

.team-img img {
  object-fit: cover;
  height: 300px;
}

.service-card {
  padding: 3em 3em;
}

.btn-pink {
  background: #3292D9;
  color: #fff;
  padding: 1em auto;
  font-size: 18px;
}

#hero h1 {
  letter-spacing: 2px;
}

#services i {
  color: #3292D9;
}

#services h5 {
  font-family: 'Roboto','Arial';
  color: #3292D9;
  font-size: 100%;
  text-shadow: none;
  line-height: 1.8;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 1px;
  word-spacing: normal;
  text-transform: uppercase;
  font-weight: bold;
}

#services p {
    font-family: 'Roboto','Arial';
    color: #808b95;
    font-size: 100%;
    text-shadow: none;
    line-height: 1.8;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    font-weight: normal
}

.service-header {
  font-family: 'Roboto','Arial';
  color: #3292D9;
  font-size: 262.5%;
  text-shadow: none;
  line-height: 1.4;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  font-weight: bold;
}

.service-text {
  font-family: 'Roboto','Arial';
  color: #808b95;
  font-size: 125%;
  text-shadow: none;
  line-height: 1.8;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  font-weight: normal;
}


.value {
  margin: 1rem auto;
}

#team p {
  font-size: 14px;
}

#team h5 {
  font-size: 18px;
}

#about {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)) , url('../images/about.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about p {
  font-size: 16px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #3292D9;
  color: #fff!important;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 0 0 30px 0;
  color: #212529;
  font-size: 14px;
  background: #fef8f5;
}
#footer .footer-newsletter {
  padding: 50px 0;
  background: #FDF6F6;
  font-size: 15px;
}
#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #4e4039;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}
#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 4px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #3292D9;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-newsletter form input[type=submit]:hover {
  background: #3292D9;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #5c5c5c;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #212529;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #f39e7a;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #5c5c5c;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #3292D9;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #3292D9;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #3292D9;
  color: #fff;
  text-decoration: none;
}
#footer .copyright {
  text-align: center;
  float: left;
}
#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #212529;
}
#footer .credits a {
  color: #3292D9;
}
@media (max-width: 575px) {
  #about {
    font-size: 14px;
  }
  #footer .copyright, #footer .credits {
    float: none;
    -moz-text-align-last: center;
    text-align-last: center;
    padding: 3px 0;
  }

  .service-card {
    padding: 2em 2em;
  }
}

@media (max-width: 480px) {
  #footer .copyright, #footer .credits {
    float: none;
    -moz-text-align-last: center;
    text-align-last: center;
    padding: 3px 0;
  }

  .logo {
    height: 20px;
  }
}

#coming_soon {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)) , url('../images/coming_soon.jpg');
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}

#maintenance {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)) , url('../images/maintenance.jpg');
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#not_found {
  /* background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)) , url('../images/maintenance.jpg'); */
  /* color: white; */
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.carousel {
  height: 500px;
}

.custom-img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  background-position: center;
}

.herowrapper {
  width: 100vw;
  height: 100%;
  position: relative;
} 

.news {
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
  margin-top: 30px;
  background-color: #fff;
}

.news img {
  height: 180px;
  width: 100%;
}

.blog-meta {
  padding: 3px 1em;
  font-size: 14px;
}

.blog-info {
  padding: 1em;
}

.blog-info h2 {
  font-size: 16px;
}

